$color-periwinkle-gray: #b2c7e2;
$color-manatee: #8a8fa2;
$color-fiord: #415a67;
$color-white: white;
$color-salomie: #FFE985;
$color-crusta: #FA742B;
$color-transparent: rgba(255, 255, 255, 0.5);
$color-transparent-2: rgba(255, 255, 255, 0.3);
$color-portocaliu-manz: rgb(238, 136, 81);
$color-gumbo: #7ea1a6;
