.side-navigation {
    display: none;
}

@media screen and (min-width: 1000px) {
    .content {
        margin-left: 12rem;
    }
    .side-navigation {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 12rem;
        background-color: #111;
        font-size: 1.4rem;
    }
    
    .side-navigation__list {
        position: relative;
        top: 30%;
    }
    
    .side-navigation__link {
        color: #818181;
        display: block;
        margin: 1rem 0.5rem;
        justify-content: space-between;
        text-decoration: none;

        &:hover {
            color: #f1f1f1;
        }
    }

    .side-navigation__span {
        float: left;
        padding-right: 2rem;
    }

    .menu,
    .smallmenu {
        display: none;
    }
}