.side-navigation {
    display: none;
}

.side-navigation__link {
    transition: 0.25s;
}

@media screen and (min-width: 1000px) {
    .content {
        margin-left: 12rem;
    }
    .side-navigation {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 12rem;
        background-color: $color-black;
        font-size: 1.4rem;
    }
    
    .side-navigation__list {
        position: relative;
        top: 30%;
    }
    
    .side-navigation__link {
        color: $color-gray;
        display: block;
        margin: 1.3rem 0.5rem;
        justify-content: space-between;
        text-decoration: none;

        &:hover {
            color: $color-seashell;
        }
    }

    .side-navigation__span {
        float: left;
        padding-right: 2rem;
    }

    .menu,
    .smallmenu {
        display: none;
    }
}