.experience__input,
.experience__details,
.experience__input-default {
    display: none;
}

.experience__input:checked + .experience__title + .experience__details {
    display: inherit;
}

.experience__header {
    color: $color-periwinkle-gray;
    @extend %header; 
}

.experience__title {
    display: block;
    font-size: 2rem;
    background: radial-gradient(to right, $color-flamingo, $color-cinnabar);
    padding: 1.5rem 2rem;
    color: $color-white;
    margin: 0.1rem 0;
    cursor: pointer;
}

.experience__details {
    border: 0.2rem solid $color-flamingo;
    margin: 0 0.2rem;
}

.experience__top {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.4rem;
    font-size: 1.2rem;
}

.experience__date {
    font-style: italic;
}

.experience__company {
    font-weight: bold;
}

.experience__responsability {
    padding: 1rem;
    font-size: 0.5rem 1rem;
    font-size: 1.2rem;
    line-height: 1.2;

    &:nth-child(odd) {
        background-color: $color-fantasy;
    }

    &:nth-child(even) {
        background-color: $color-twilight;
    }
}

.my-cv__icon--plus {
    float: right;
    pointer-events: none;
}

.experience__input:checked + .experience__title {
    .my-cv__icon--plus {
        pointer-events: all;
        transform: rotateZ(45deg);
        cursor: pointer;
    }
}