.experience__details {
    display: none;
}

.experience__title {
    display: block;
}

.experience__input:checked + .experience__title + .experience__details {
    display: inherit;
}

.experience__top {
    display: flex;
    justify-content: space-between;
}