.projects__header {
    @extend %header;
    color: $color-periwinkle-gray;
}

.projects__text {
    text-align: center;
    font-size: 1.7rem;
    background-image: repeating-linear-gradient($color-manatee, $color-fiord);
    color: $color-white;
    padding: 1.6rem;
}

.project {
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    width: 43%;
    text-align: center;
    font-size: 1.5rem;
    border: 0.2rem solid $color-fiord;
    color: $color-white;
    background-color: $color-gumbo;
    border-radius: 0.3rem;

    &:visited {
        color: $color-white;
    }

    &:hover {
        border-color: $color-white;
    }
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: radial-gradient($color-manatee, $color-fiord);
}