.smallmenu__icon {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.9rem;
    font-size: 3rem;
    background-color: $color-fiord;
    border-radius: 0.3rem;
    color: $color-white;
}

.smallmenu {
    background-color: $color-white;
}