-
    var header = '#skills'
        skillsList = [
            {
                title: 'Front End',
                skillList: [
                    'HTML5',
                    'CSS3',
                    'JavaScript',
                    'Jade',
                    'Gulp',
                    'Sass',
                    'Pug'
                ]
            },
            {
                title: 'Back End',
                skillList: [
                    'Git',
                    'JSON',
                    'NodeJS',
                    'Jade',
                    'Bash',
                ]
            },
            {
                title: 'Other',
                skillList: [
                    'Windows',
                    'Android',
                    'Mac',
                    'Word',
                    'Excel',
                    'PowerPoint',
                ]
            },
        ];


#skills
.skills
    .skills__header=header
    each skills in skillsList
        .skills__title=skills.title
        .skills__list-wrapper
            each skill in skills.skillList
                .skills__skill=skill

