.skills__header {
    @extend %header;
    color: $color-periwinkle-gray;
}

.skills__title {
    color: $color-fiord;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
}

.skills__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    margin: 0 0.4rem;
    justify-content: center;
}

.skills__skill {
    margin: 0.2rem;
    padding: 0.6rem;
    border: 0.21rem solid $color-periwinkle-gray;
    border-radius: 0.4rem;
    font-size: 2rem;
}