.menu__link {
    display: block;
    padding: 1rem 0;
    border-bottom: 0.2rem solid $color-fiord;
    text-decoration: none;
    color: $color-white;
    &:nth-child(6) {
        border: 0;
    }
}

.menu__list {
    font-size: 2rem;
    margin: 2rem;
    border: 0.2rem solid $color-fiord;
    border-radius: 0.3rem;
    background-image: repeating-radial-gradient($color-manatee, $color-fiord);
}

.menu__span {
    float: left;
    margin-right: 4.5rem;
    margin-left: 2.5rem;
}
