extends _component/layout/main

block config
    -
        var myTitle="My CV online";
            myDescription="This is made using PURE HTML5 and CSS3 tehniques";

block content
    include _component/landing-page/landing-page