extends _component/layout/main

block config
    -
        var myTitle="My CV online";
            myDescription="This is made using PURE HTML5 and CSS3 tehniques";

block content
    include _component/landing-page/landing-page
    include _component/about-me/about-me
    include _component/award/award
    include _component/skills/skills
    include _component/projects/projects
    include _component/experience/experience
    include _component/smallmenu/smallmenu
    include _component/menu/menu
    include _component/landscape/landscape