.about-me {
    background-image: radial-gradient(to right, $color-flamingo, $color-cinnabar);
    padding-bottom: 1rem;
}

.about-me__header {
    color: $color-white;
    @extend %header;
}

.about-me__avatar-wrapper {
    border: 0.5rem solid $color-transparent;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: 1.5rem auto;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        border: 0.5rem solid $color-transparent-2;
        top: -1.1rem;
        bottom: -1.1rem;
        left: -1.1rem;
        right: -1.1rem;
        border-radius: 50%;
    }
}

.about-me__avatar {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid $color-cinnabar;
    border-radius: 50%;
}

.about-me__full-name {
    font-size: 2.5rem;
}

.about-me__title {
    font-size: 2rem;
}

.about-me__full-name,
.about-me__title {
    color: $color-white;
    padding: 1rem;
    text-align: center;
}

.about-me__slogan,
.about-me__content {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin: 0.6rem 1rem;
    text-align: justify;
    text-indent: 3rem;
}

.about-me__link-list {
    text-align: center;
    margin-top: 1rem;
}

.about-me__button-link {
    margin: 0 auto;
    width: 75%;
    font-size: 2.5rem;
    text-decoration: none;
    border: 0.2rem solid $color-gumbo;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $color-white;
    color: $color-gumbo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.64s;

    &:hover {
        transform: scale(1.08);
    }
    
    :visited {
        color: $color-gumbo;
    }
    
    &:hover {
        background-color: $color-gumbo;
        color: $color-white;
        border-color: $color-white;
    }
}

.about-me__link-description {
    font-size: 1.5rem;
}
